[Unit]
Description=frpc daemon
After=syslog.target network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/frpc -c /etc/frp/frpc.ini
Restart=always
RestartSec=1min
ExecStop=/usr/bin/kill $MAINPID

[Install]
WantedBy=multi-user.target